@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/globals.css */
.layout {
  background: #f0f0f0;
  padding: 10px;
}

.grid-item {
  position: fixed;
  background: #3498db;
  border: 1px solid #ccc;
  width: 100%; /* Set the width of the grid item */
  height: 100%; /* Set the height of the grid item */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.draggable-component {
  cursor: text;
  background: #e74c3c;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  pointer-events: stroke;
}

.editableText {
  /* Define your styles for the editable input here */
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
}

.plainText {
  /* Define your styles for the plain text here */
  font-size: 16px;
}